In [44]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [45]:
# 创建一个文本数据集

# documents = ["I have a pen.", "I have an apple."]
documents = [
    'This is the first document.',
    'This document is the second document.',
    'And this is the third one.',
    'Is this the first document?',
]

In [46]:
# 创建一个 TfidfVectorizer 实例
vectorizer = TfidfVectorizer()

# 对文本数据进行拟合和转换
tfidf_matrix = vectorizer.fit_transform(documents)
tfidf_matrix.shape

(4, 9)

In [47]:
# 获取特征名字，即词汇表
feature_names = vectorizer.get_feature_names_out()
feature_names

array(['and', 'document', 'first', 'is', 'one', 'second', 'the', 'third',
       'this'], dtype=object)

In [48]:
# 将 TF-IDF 矩阵转换为稠密矩阵
dense_matrix = tfidf_matrix.todense()
dense_matrix

matrix([[0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
         0.        , 0.38408524, 0.        , 0.38408524],
        [0.        , 0.6876236 , 0.        , 0.28108867, 0.        ,
         0.53864762, 0.28108867, 0.        , 0.28108867],
        [0.51184851, 0.        , 0.        , 0.26710379, 0.51184851,
         0.        , 0.26710379, 0.51184851, 0.26710379],
        [0.        , 0.46979139, 0.58028582, 0.38408524, 0.        ,
         0.        , 0.38408524, 0.        , 0.38408524]])

In [49]:
# 创建一个 DataFrame 来显示结果
import pandas as pd

df = pd.DataFrame(dense_matrix, columns=feature_names)
df

,and,document,first,is,one,second,the,third,this
0,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085
1,0.000000,0.687624,0.000000,0.281089,0.000000,0.538648,0.281089,0.000000,0.281089
2,0.511849,0.000000,0.000000,0.267104,0.511849,0.000000,0.267104,0.511849,0.267104
3,0.000000,0.469791,0.580286,0.384085,0.000000,0.000000,0.384085,0.000000,0.384085